{% extends 'base.html' %}

{% block head %}
<title>Extended Vigenere Cipher - {{mode}}</title>
{% endblock %}

{% block body %}
<!-- MAIN -->
<div class="col p-4">
    <h1 class="display-4">Extended Vigenere Cipher</h1>
    {% if mode=="Encrypt" %}
    <a class="btn btn-primary" href="/vigenere/extended/encrypt" role="button">Encryption</a>
    <a class="btn btn-secondary" href="/vigenere/extended/decrypt" role="button">Decryption</a>
    <div class="card">
        <h5 class="card-header font-weight-light">Requirements</h5>
        <div class="card-body">
            <form action="/vigenere/extended/encrypt" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="text1">Keyword</label>
                    <input type="text" class="form-control" name="text1" placeholder="Enter keyword here" value="{{keyword}}" required required>
                </div>
                <div class="form-group">
                    <label for="file">Plaintext file</label>
                    <input type="file" class="form-control-file" name="file" required>
                </div>
                <button type="submit" class="btn btn-primary">Encipher Plaintext</button>
            </form>
        </div>
    </div>
    {% else %}
    <a class="btn btn-secondary" href="/vigenere/extended/encrypt" role="button">Encryption</a>
    <a class="btn btn-primary" href="/vigenere/extended/decrypt" role="button">Decryption</a>
    <div class="card">
        <h5 class="card-header font-weight-light">Requirements</h5>
        <div class="card-body">
            <form action="/vigenere/extended/decrypt" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="text">Keyword</label>
                    <input type="text" class="form-control" name="text1" placeholder="Enter keyword here" value="{{keyword}}" required>
                </div>
                <div class="form-group">
                    <label for="file">Ciphertext file</label>
                    <input type="file" class="form-control-file" name="file">
                </div>
                <button type="submit" class="btn btn-primary">Decipher Ciphertext</button>
            </form>
        </div>
    </div>
    {% endif %}
</div><!-- Main Col END -->
{% endblock %}